* {
    box-sizing: border-box;
}

main,
header,
footer {

    background-color: #eee;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / .2);
    border-radius: 5px;
    margin: 0 auto;
}

#openButton {

    background-color: aqua;
}

#dialogBox {
    background-color: lavender;
    box-sizing: border-box;
}

#closeButton {
    background-color: rgba(255, 128, 0, 0.5);
}