/* -----------------COLOR SCHEME------------------
terra cotta #E07A5F
deep slate blue #3D405B

*/

/************************SITE WIDE**********************/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*********************HEADER******************************/
 
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: purple;
}

/****************HAMBURGER NAVIGATION*****************/

.hamburger {
    background: none;
    border: none;
    color: purple;
    cursor: pointer;

}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;

}